---
import { getAllPosts, getUniqueTagsWithCount } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);
export const prerender = true;

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: "All Tags",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 text-xl font-bold">全部标签</h1>
	<ul class="space-y-3">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2">
					<a
						class="text-link text-base font-medium hover:underline"
						data-astro-prefetch
						href={`/tags/${tag}/`}
						title={`查看包含标签 ${tag} 的所有文章`}
					>
						# {tag}
					</a>
					<span class="text-sm text-gray-500">（{val} 篇）</span>
				</li>
			))
		}
	</ul>
</PageLayout>

