---
import { Icon } from "astro-icon/components";

interface SocialLink {
    friendlyName: string;
    isWebmention?: boolean;
    link: string;
    name: string;
    type?: 'social' | 'friend';
}

const socialLinks: SocialLink[] = [
    {
        friendlyName: "Github",
        link: "https://github.com/",
        name: "mdi:github",
        type: 'social'
    },
    {
        friendlyName: "Nodeseek",
        link: "https://www.nodeseek.com/",
        name: "nodeseek",
        type: 'social'
    },
    {
        friendlyName: "linux.do",
        link: "https://linux.do/",
        name: "linux.do",
        type: 'social'
    },
];

const friendLinks: SocialLink[] = [
   {
        friendlyName: "f1",
        link: "https://www.qqwx.de/",
        name: "f1",
        type: 'friend'
    },
    {
        friendlyName: "homepage",
        link: "https://noospic.me",
        name: "homepage",
        type: 'friend'
    },

];
---

<div class="mt-8 flex min-h-[64px] flex-col gap-y-4">
    <div class="flex flex-wrap items-end justify-end gap-x-2 text-right">
        <ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
            {socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
                <li class="h-8 w-8 flex items-center justify-center">
                    <a
                        class="inline-flex h-full w-full items-center justify-center sm:hover:text-link"
                        href={link}
                        rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
                        target="_blank"
                    >
                        <Icon 
                            aria-hidden="true" 
                            class="h-full w-full" 
                            focusable="false" 
                            name={name} 
                        />
                        <span class="sr-only">{friendlyName}</span>
                    </a>
                </li>
            ))}
        </ul>
    </div>

    {friendLinks.length > 0 && (
        <div class="flex flex-wrap items-end justify-end gap-x-2 text-right">
            <p class="w-full text-right font-bold text-gray-600">Friend</p>
            <ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
                {friendLinks.map(({ friendlyName, isWebmention, link, name }) => (
                    <li class="h-8 w-8 flex items-center justify-center">
                        <a
                            class="inline-flex h-full w-full items-center justify-center sm:hover:text-link"
                            href={link}
                            rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
                            target="_blank"
                        >
                            <Icon 
                                aria-hidden="true" 
                                class="h-full w-full" 
                                focusable="false" 
                                name={name} 
                            />
                            <span class="sr-only">{friendlyName}</span>
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    )}
</div>